@keyframes fadein {
  to {
    opacity: 1;
  }
}
.jahr {
  display: flex;
  display: flex;
  flex-direction: row;
  place-items: center;
  opacity: 0;
  animation: fadein 0.55s ease-in 0s 1 forwards;
}

.yeartoggle {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/***************************************Animation Section******************************/
@keyframes loader2 {
  0%, 50%, 85%, 100% {
    transform: scale(1);
  }
  60% {
    transform: scale(2);
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
.fadeout {
  animation: fadeout 0.25s ease-out 4.74s 1 forwards;
}

main {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #494d5f 74%);
  background: url(../background.svg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  /***************************************Abstract Section******************************/
  /***************************************Loader Section******************************/
  /***************************************Content Section******************************/
}
@media only screen and (width > 1500px) {
  main {
    overflow: hidden;
  }
}
@media only screen and (width < 1500px) {
  main {
    overflow-x: hidden;
  }
}
main p {
  color: white;
}
main section {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: transparent;
}
main section div {
  gap: 5px;
  display: flex;
  flex-direction: column;
  place-items: center;
}
main section div div {
  margin-bottom: 30px;
}
main section div div img {
  width: 250px;
}
@media only screen and (width <= 850px) {
  main section div div img {
    width: 180px;
  }
}
@media only screen and (width <= 750px) {
  main section div div img {
    width: 150px;
  }
}
@media only screen and (width <= 550px) {
  main section div div img {
    width: 120px;
  }
}
@media only screen and (width <= 480px) {
  main section div div img {
    width: 90px;
  }
}
main section div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
@media only screen and (width <= 750px) {
  main section div p {
    font-size: 30px;
  }
}
@media only screen and (width <= 550px) {
  main section div p {
    font-size: 25px;
  }
}
@media only screen and (width <= 480px) {
  main section div p {
    font-size: 18px;
  }
}
main section div .loader2 {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 5px;
  padding-inline: 50px;
}
@media only screen and (width <= 750px) {
  main section div .loader2 {
    transform: scale(0.85);
  }
}
@media only screen and (width <= 550px) {
  main section div .loader2 {
    transform: scale(0.75);
  }
}
@media only screen and (width <= 480px) {
  main section div .loader2 {
    transform: scale(0.65);
  }
}
main section div .loader2 span {
  width: 10px;
  height: 60px;
  width: 10px;
  height: 60px;
  display: inline-block;
  border-radius: 15px;
  border-radius: 4s;
}
main section div .loader2 span:nth-child(1) {
  background-color: white;
  animation: loader2 2s ease infinite 0s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(2) {
  background-color: white;
  animation: loader2 2s ease infinite 0.15s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(3) {
  background-color: white;
  animation: loader2 2s ease infinite 0.3s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(4) {
  background-color: white;
  animation: loader2 2s ease infinite 0.45s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(5) {
  background-color: white;
  animation: loader2 2s ease infinite 0.6s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(6) {
  background-color: white;
  animation: loader2 2s ease infinite 0.75s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(7) {
  background-color: white;
  animation: loader2 2s ease infinite 0.9s;
  box-shadow: 0 0 20px #000;
}
main section div .loader2 span:nth-child(8) {
  background-color: white;
  animation: loader2 2s ease infinite 1.05s;
  box-shadow: 0 0 20px #000;
}
main p {
  color: white;
}
main #body {
  display: flex;
  flex-direction: row;
  place-items: center;
  display: none;
  width: inherit;
  height: inherit;
  width: 100vw;
  height: auto;
  align-self: flex-start;
  /***************************************Navbar Section******************************/
  /***************************************Content Section******************************/
  /*****************List Section******************************/
}
main #body nav {
  align-self: flex-start;
  width: inherit;
  height: 100px;
  box-shadow: 0 0 20px #2d3436;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 20px;
  padding-inline: 50px;
}
@media only screen and (width <= 750px) {
  main #body nav {
    padding-inline: 40px;
  }
}
@media only screen and (width <= 550px) {
  main #body nav {
    padding-inline: 30px;
  }
}
@media only screen and (width <= 480px) {
  main #body nav {
    padding-inline: 20px;
  }
}
main #body nav img {
  width: 70px;
}
main #body nav p {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 30px;
  text-align: center;
}
@media only screen and (width <= 750px) {
  main #body nav p {
    font-size: 25px;
  }
}
@media only screen and (width <= 550px) {
  main #body nav p {
    font-size: 22px;
  }
}
@media only screen and (width <= 480px) {
  main #body nav p {
    font-size: 20px;
  }
}
main #body main {
  gap: 50px;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  /*****************Filter Section******************************/
}
@media only screen and (width < 1650px) {
  main #body main {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
  }
}
main #body main #filters {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 1rem;
  gap: 2rem;
  width: auto;
  height: auto;
}
@media only screen and (width < 890px) {
  main #body main #filters {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: flex-start;
  }
}
main #body main #filters aside {
  overflow: hidden;
  width: 400px;
  height: 370px;
  align-self: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 20px #2d3436;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  padding-inline-start: 15px;
  padding-top: 10px;
  gap: 10px;
  transition: height 0.5s ease-in-out;
}
main #body main #filters aside #yearh,
main #body main #filters aside #subjecth {
  text-transform: capitalize;
  color: whitesmoke;
  width: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  place-items: center;
}
main #body main #filters aside #yearh span#close,
main #body main #filters aside #yearh #closer,
main #body main #filters aside #subjecth span#close,
main #body main #filters aside #subjecth #closer {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  cursor: pointer;
}
main #body main #filters aside #yearh span#close svg,
main #body main #filters aside #yearh #closer svg,
main #body main #filters aside #subjecth span#close svg,
main #body main #filters aside #subjecth #closer svg {
  width: inherit;
  height: inherit;
  transition: all 0.25s ease-in-out;
}
main #body main #filters aside #yearh span#close svg g path:d,
main #body main #filters aside #yearh #closer svg g path:d,
main #body main #filters aside #subjecth span#close svg g path:d,
main #body main #filters aside #subjecth #closer svg g path:d {
  transition: all 0.25s ease-in-out;
}
main #body main #filters aside #yearh span,
main #body main #filters aside #subjecth span {
  width: auto;
}
main #body main #filters aside span {
  width: 100%;
  gap: 10px;
}
main #body main #filters aside span input[type=radio]:checked {
  background-color: #2d3436;
}
main #body main #filters aside span input[type=radio] {
  margin-top: 1.5px;
  border: 2px solid white;
  box-shadow: 0 0 0 1px #2d3436;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: lightblue;
  transition: all ease-in 0.2s;
}
main #body main #filters aside span label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
main #body main #filters aside span label span.legspan {
  width: 40px;
  height: 20px;
  display: flex;
}
main #body .graphboard {
  box-shadow: 0 0 20px #2d3436;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: flex-start;
  gap: 10px;
}
@media only screen and (width < 890px) {
  main #body .graphboard {
    height: auto;
    padding: 1rem 0rem;
    width: 94vw;
  }
}
main #body .graphboard svg {
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */